.container {
  position: relative;
  border-radius: 1rem;
  min-width: 400px;
  min-height: 400px;
  padding: 2rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 139, 139, 0.153);
  border-radius: inherit;
  border-color: rgb(255, 255, 255);
  border: 2.5px solid;
  z-index: -1;
}